/* Нормализация*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

html, body{
    height: 100%;
}


/*Шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Основные настройки, header, footer*/
body{
    font-family:'Inter',sans-serif;
    color:black;
    font-weight: 400;
    font-size: 20px;
    background-color: white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

.container{
    max-width: 1360px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: clamp(12px, 2vw, 20px);
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    padding: 35px 0;
}

nav{
    display: flex;
    align-items: center;
    gap: clamp(16px, 2vw, 54px);
}

a{
    text-decoration: none;
    color:black;
    transition: all 300ms ease-out;
}

ul{
    list-style:none; 
}

ul a {
    font-size: clamp(10px, 2vw, 20px); 
}

ul a:hover{
    color:#4E5CDF;
}

ul a:active{
    color:#AEE357
}

nav ul{
    display:flex; 
    gap: clamp(8px, 3vw, 46px);
}

.btn1{
    color:white;
    font-size: clamp(10px, 2vw, 20px); 
    white-space: nowrap;
    box-sizing: border-box;

    display:flex;
    align-items: center;
    justify-content: center;
    padding: clamp(10px, 2vw, 16px) clamp(20px, 3vw, 32px);

    background-color: black;
    border-radius: 18px;

    transition: all 300ms ease-out;
}

.btn1:hover{
    background-color: #4E5CDF;
}

.btn1:active{
    background-color: #AEE357;
}

footer{
    background-color: black;
    color:white;
    padding: 35px 0;
    flex: 0 0 auto;
}

footer .container{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: clamp(10px, 2vw, 20px); 
}

footer p:first-of-type{
    max-width:195px;
}

footer p:last-of-type {
    max-width:310px;
    text-align: right;
}

/*Главная - первая секция*/
.welcome{
    background: url("../img/circle.jpg") no-repeat right clamp(40px, 20vw, 390px) top 35px ,url("../img/model_1.jpg") no-repeat right bottom -70px;
    background-size:clamp(40px, 10vw, 95px) auto, clamp(600px, 50vw, 981px) auto;
    min-height: 87vh;
}

.welcome__title{
    font-size: clamp(80px, 10vw, 170px);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    
}

.title-left{
    margin-top: 50px;
}

.title-right{
    margin-left: clamp(90px, 12vw, 222px);
    line-height: 30%;
    margin-bottom: clamp(20px, 5vw, 50px);
}

.welcome h2{
    font-weight: 600;
    font-size: clamp(20px, 2vw, 32px);
    max-width: 555px;
    color:#4E5CDF;
    margin-bottom: clamp(20px, 5vw, 50px);
}

.welcome p{
    max-width: 670px;
    margin-bottom: 30px;
}

.btn2{
    color:black;
    font-size: clamp(12px, 2vw, 20px); 
    max-width: 142px;
    box-sizing: border-box;
    margin-bottom: clamp(0px, 30vw, 100px);

    display:flex;
    align-items: center;
    justify-content: center;
    padding: clamp(8px, 2vw, 16px) clamp(16px, 3vw, 32px);

    border: 4px solid;
    border-color: black;
    border-radius: 18px;

    transition: all 300ms ease-out;
}

.btn2:hover{
    border-color: #4E5CDF;
    background-color: #4E5CDF;
    
}

.btn2:active{
    border-color: #AEE357;
    background-color: #AEE357;
    
}

/*Главная - вторая секция*/
.second_screen{
    color:white;
    background-color: black;
}

.second_screen .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second_screen h2, .reviews h2{
    padding-top: clamp(30px, 10vw,50px);
    padding-bottom: 24px;
    font-size: clamp(24px, 2vw, 36px);
    font-weight: 600;
    text-align: center;
}

.second_screen p{
    text-align: center;
    width: clamp(400px, 60vw, 900px);
    padding-bottom: 50px;
}

.images {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    margin-bottom: 94px;
}

.images img {
    width: 100%;
    height: auto;
}

.img-right{
    display: flex;
    flex-direction: column;
    flex: 0 1 670px; 
    gap: 20px;
}

.img1{
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../img/bg1.png);
    background-size: 100%;
    overflow: hidden;
    flex: 0 1 555px; 
}

.img2{
    background-repeat: no-repeat;
    background-position: left bottom;
    background-image: url(../img/bg2.png);
    background-size: 90% 79%;
    overflow: hidden;
}

.img3{
    background-repeat: no-repeat;
    background-position: left bottom;
    background-image: url(../img/bg3.png);
    background-size: 90% 100%;
}

.img1 img, .img2 img, .img3 img{
    vertical-align: bottom;
    transition: all 300ms ease-out;
}

.img1:hover img, .img2:hover img {
    transform: translateY(10px); 
}

.img3:hover img{
    transform: translateX(10px);
}

/*Главная - отзывы*/
.boxs{
    color:white;
    gap: 20px;
    overflow-x: auto;
    display: flex;
}

.box1, .box2, .box3, .box4, .box5{
    min-width: 352px; 
    background-color: black;
    border-radius: 24px;
    padding: 16px;
    margin-bottom: 55px;
}

.review{
    border: 3px solid white;
    padding: 16px;
    border-radius: 18px;
    height: 91px;
    font-size: 20px;
}

/*Контакты - 2 страница*/
.container_contacts{
    background-image: url("../img/background_contacs.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    width: 100%;
}

.container_contacts h1{
    color:black;
    font-size: 64px;
    font-weight: 600;
    margin: 40px auto;
}

.information{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding-bottom: 94px;
}

.information h3{
    font-weight: 700;
}

.left_contacts{
    display:flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 1 400px; 
    max-width: 450px;
}

.contacts{
    background-color: black;
    border-radius: 18px;
    padding: 16px 24px;
    gap: 16px;
}

.contacts p{
    margin-bottom: 16px;
}

.schedule{
    background-color: black;
    border-radius: 18px;
    padding: 16px 24px;
    height: 100%;
}

.schedule p{
    margin-bottom: 16px;
}

.map{
    flex: 1 1 400px;
    max-width: 900px;
    max-height: 703px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 18px;
    border: 4px solid black;
}

.map img{
    border-radius: 18px;
    width: 130%;
    height: auto;
}


