/* Нормализация*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}


/*Шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Основные настройки, header, footer*/
body{
    font-family:'Inter',sans-serif;
    color:black;
    font-weight: 400;
    font-size: 20px;
    background-color: white;
    min-height: 100vh;
}

.container{
    max-width: 1360px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: clamp(12px, 2vw, 20px);
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    padding: 35px 0;
}

header nav{
    display: flex;
    align-items: center;
    gap: clamp(16px, 2vw, 54px);
}

a{
    text-decoration: none;
    color:black;
    transition: all 300ms ease-out;
}

ul{
    list-style:none; 
}

ul a {
    font-size: clamp(10px, 2vw, 20px); 
}

ul a:hover{
    color:#4E5CDF;
}

ul a:active{
    color:#AEE357
}

nav ul{
    display:flex; 
    gap: clamp(8px, 3vw, 46px);
}

.btn1{
    color:white;
    font-size: clamp(10px, 2vw, 20px); 
    white-space: nowrap;
    box-sizing: border-box;

    display:flex;
    align-items: center;
    justify-content: center;
    padding: clamp(10px, 2vw, 16px) clamp(20px, 3vw, 32px);

    background-color: black;
    border-radius: 18px;

    transition: all 300ms ease-out;
}

.btn1:hover{
    background-color: #4E5CDF;
}

.btn1:active{
    background-color: #AEE357;
}

footer{
    background-color: black;
    color:white;
    padding: 35px 0;
}

footer .container{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: clamp(10px, 2vw, 20px); 
}

footer p:first-of-type{
    max-width:195px;
}

footer p:last-of-type {
    max-width:310px;
    text-align: right;
}

/*Каталог*/
.container_katalog{
    background: url(../img/bg_katalog_2.png) no-repeat left top 200px, url(../img/bg_katalog_1.png) no-repeat right bottom;
}

.container_katalog h1{
    font-size: 64px;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 22px;
}

.filters{
    display:flex;
    gap: clamp(8px, 3vw, 50px);
    padding-bottom: 30px;
}

.selected_filter{
    cursor: pointer;
    background-color: white;
    display: flex;
    gap: 5px;
    max-width: 140px;
    align-items: center;
}

.selected_filter p:hover{
    text-decoration: underline;
}

.filter-content{
    margin-top: 8px;
    background-color: white;
    border: 3px solid black;
    padding: 16px 16px;
    border-radius: 18px;
    max-height: 214px;
    position:absolute;
    z-index: 1000;
    display: none;
}

.cancel-category{
    color: #878787;
}

.cancel-category:hover{
    color: white;
}

.filter-content p{
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
    padding: 4px 4px;
    transition: all 300ms ease-out;
}

.filter-content p:hover{
    background-color: #878787;
}

.filter-content p:active{
    background-color: black;
    color:white;
}

.filter-toggle{
    display: none;
}

.selected_filter img{
    transition: all 300ms ease-out;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 20px;
    padding-bottom: 72px;
    justify-content: center;
    min-height: 400px;
}

.available{
    color:#878787;
    white-space: nowrap;
    text-align: right;
}

.card{
    background-color: #878787;
    padding: 16px 16px;
    border-radius: 18px;
    font-size: 20px;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.card img{
    background-color: white;
    border-radius: 12px;
    width: 100%;
    height: auto;
}

.card-info{
    background-color: white;
    border-radius: 12px;
    padding: 8px 16px;
    margin-top: 10px;
    max-height: 72px;
    gap: 8px;

    display: grid; 
    grid-template-columns: 2fr 1fr;
}

.card-info .left {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.card:hover{
    background-color: #4E5CDF;
    transform: translateY(-10px);
}

.card:active{
    background-color: #AEE357;
}